@model MyEgitimAkademi_Portfolio.Models.Address

@{
    ViewBag.Title = "UpdateInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Bilgiler Sayfası</h2>

<form method="post">
    <label>Bilgi ID</label>
    @Html.TextBoxFor(x => x.AddressID, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Telefon</label>
    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
    <br />
    <label>Email</label>
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    <label>Adres</label>
    @Html.TextBoxFor(x => x.AddressDetail, new { @class = "form-control" })
    <br />

    <button class="btn btn-outline-success">Verileri Güncelle</button>
</form>






